body {
  color: #131516
}

input[type="checkbox"],
input[type="radio"] {
  filter: hue-rotate(140deg);
}


  .ck-editor__editable {
  min-height: 200px;
}


@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

.draftjsEditor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}